certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
pyserial==3.5
pyttsx3==2.98
requests==2.32.3
setuptools==75.1.0
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.3
wheel==0.44.0
