certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
pyserial==3.5
pytest==8.3.3
pyttsx3==2.98
requests==2.32.3
SpeechRecognition==3.10.4
typing_extensions==4.12.2
urllib3==2.2.3
